* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Itim", cursive;
}

h2 {
	font-size: 4rem;
	font-weight: bold;
	padding: 3rem;
	color: aqua;
}

.coming-soon {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: black;
}

.countdown {
	display: flex;
	justify-content: space-around;
	text-align: center;
	color: aqua;
}

.day,
.hour,
.minute,
.second {
	font-size: 3rem;
	color: aqua;
}

.image {
	height: 50vh;
}
